<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/97ab0026dc.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
  <title>Trends</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %> 

  <div class="trendcont">
    <div class="trendcont1 card">
      <i class="fa-brands fa-atlassian"></i>
      <p id="firstpar"><strong>JANUARY</strong></p>
      <p>45,500</p>
      FAIR
    </div>
    <div class="trendcont2 card">
      <i class="fa-brands fa-battle-net"></i>
      <p id="firstpar"><strong>FEBRUARY</strong></p>
      <p>45,500</p>
      FAIR
    </div>

    <div class="trendcont3 card">
      <i class="fa-solid fa-biohazard"></i>
      <p id="firstpar"><strong>MARCH</strong></p>
      <p>45,500</p>
      FAIR
    </div>
    <div class="trendcont4 card">
      <i class="fa-solid fa-biohazard"></i>
      <p id="firstpar"><strong>APRIL</strong></p>
      <p>60,500</p>
      VERY GOOD
    </div>
  </div>

  <div class="charts">
    <div class="chart1 chart">
      
      <p>If you can keep your head when all about you   
        Are losing theirs and blaming it on you,   
    If you can trust yourself when all men doubt you,
        But make allowance for their doubting too;   
    If you can wait and not be tired by waiting,
        Or being lied about, don’t deal in lies,
    Or being hated, don’t give way to hating,
        And yet don’t look too good, nor talk too wise:</p>
    </div>
    <div class="chart2 chart">
      <p>If you can keep your head when all about you   
        Are losing theirs and blaming it on you,   
    If you can trust yourself when all men doubt you,
        But make allowance for their doubting too;   
    </p>
    </div>
  </div>
</body>

</html>